_<html>
   
        <!-- Iterate over object_list -->  
       
        <!-- Display Objects -->  
        <li class="nav-item">First Name: {{ object.first_name }}</li>  
        <li class="nav-item">Last Name: {{ object.last_name }}</li>  
        <li class="nav-item">Mobile: {{ object.mobile }}</li>  
        <li class="nav-item"> Email: {{ object.email }}</li>  
  
        <hr/>  
        <!-- If object_list is empty -->  
     
      
     
    
    </html>