
  <html>
    <ul class="nav flex-column">  
        <!-- Iterate over object_list -->  
        {% for object in object_list %}  
        <!-- Display Objects -->  
        <li class="nav-item">First Name: {{ object.first_name }}</li>  
        <li class="nav-item">Last Name: {{ object.last_name }}</li>  
        <li class="nav-item">Mobile: {{ object.mobile }}</li>  
        <li class="nav-item"> Email: {{ object.email }}</li>  
  
        <hr/>  
        <!-- If object_list is empty -->  
        {% empty %}  
        <li class="nav-item">No objects Find</li>  
        {% endfor %}  
    </ul>  
    </html>